.lc-bank-parcerias{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
}

.lc-bank-parcerias h2{
    width: auto;
    text-align: center;
    font-size: 40px;
    color: #06D8A5;
    font-weight: 600;
    /* background-color: rgb(7, 14, 14); */
}

.txt-parcerias{
    padding: 0px 250px;
    text-align: center;
    margin-top: 20px;
    /* background-color: aqua; */
}

#lc-bank-parcerias-logos{
    width: 80%;
    height: auto;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 40px;
}

.lc-bank-logo-parceiros{
    width: 19%;
    height: 50px;
    /* background-color: blue; */
}

.lc-bank-logo-parceiros img{
    width: 100%;
    height: 100%;
}