section{
    width: 100%;
    height: auto;
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-evenly;
}

.lc-bank-txt-inicio{
    width: 50%;
    height: 550px;
    margin-left: 30px;
    /* background-color: rgb(187, 68, 68); */
}

h1{
    padding-top: 100px;
    font-size: 55px;
    font-weight: 600;
    /* background-color: rgb(163, 182, 182); */
} 

.p-inicio{
    margin-top: 20px;
    padding: 0px 150px 0px 0px;
}

span{
    color: #06D8A5;
}

.lc-bank-img-inicio{
    width: 50%;
    height: auto;
    /* background-color: black; */
}

.lc-bank-img-inicio .img-cartoes{
    width: 100%;
    height: 100%;
}